{% extends 'base.html'%}
{% block content%}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us </h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Chef.in</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class = "row">
        		<center>
        			<div class = "col-8">
        				<p align="justify">
<br/>
<br/>
        					Welcome to Chef.in! Our web application is designed to provide a platform where culinary enthusiasts can discover, share, and discuss their favorite recipies. Born out of the need for a centralized, collaborative space, Chef.in brings together the joy of cooking with the convenience of technology. Whether you’re a home cook or a professional chef, you’ll find inspiration and community at Chef.in.
<br/><br/>
Our development journey follows an incremental approach, adding new features and complexity at each level to create a more enriched user experience. From a basic layout showcasing a collection of recipies to detailed views, search functionality, and API integration, each stage is carefully designed to make Chef.in your go-to culinary hub. While the development stages are structured, we encourage creativity and flexibility, providing a foundation for developers to explore their innovative ideas.
<br/><br/>
As part of our dedication to transparency and collaboration, all project documentation, including setup guides, design methodology, and known issues, is available on our GitHub repository. We invite you to explore our development process, learn from our unique approaches, and contribute to the growth of Chef.in. Join us as we build a vibrant community where passion for cooking meets cutting-edge web development!
<br/><br/>
</p>
<p>
Email: <a href="mailto:islamassanov66@gmail.com">islamassanov66@gmail.com</a></p>

Github: <a href="https://github.com/islamborghini/chef.in/"> https://github.com/islamborghini/chef.in/</a>








        				
<br/>
<br/>

        			</div>
        		</center>
        	</div>
        </div>
{% endblock %}