{% extends 'base.html'%}
{% block content%}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us </h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to our site </p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class = "row">
        		<center>
        			<div class = "col-8">
        				<p align="justify">
<br/>
<br/>
        					
        					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat tortor faucibus, pharetra turpis eu, egestas ipsum. Nullam sed rhoncus nisl. Praesent dictum varius interdum. Integer rutrum porta porta. Fusce nec magna molestie, lobortis arcu et, cursus sapien. Nulla maximus aliquet maximus. Vestibulum accumsan felis nec cursus placerat. Nam hendrerit velit a tempus sagittis.
<br/><br/>
Proin et ex dolor. Quisque consectetur neque non tellus semper, ac lobortis nisl dapibus. Duis et viverra orci. Donec massa ligula, elementum eu malesuada at, cursus non lectus. Integer tempor metus id dui sodales porta. Suspendisse condimentum felis id rhoncus sollicitudin. Proin id molestie diam. Phasellus lacinia libero maximus quam cursus sagittis. Donec ullamcorper ullamcorper lacinia. Aliquam elementum leo ut arcu rutrum, id malesuada felis egestas. Donec sed eros arcu. Duis aliquam arcu sollicitudin, facilisis ex vitae, auctor enim.
<br/><br/>
Suspendisse consectetur varius aliquam. Suspendisse sit amet ornare quam. Vivamus risus velit, commodo quis tempor ac, porttitor vel ex. Proin quis semper dui. Maecenas suscipit mi sem, id tempus est molestie semper. Nam eu dui hendrerit, consectetur ligula non, gravida leo. In mauris augue, vulputate finibus nisi ac, efficitur ullamcorper nisl. Integer tincidunt consectetur velit, et tincidunt lorem ultrices id. Nullam finibus vitae lectus sed semper. Mauris sed elementum metus, sed convallis odio. Proin dictum magna urna, at sollicitudin tellus ullamcorper ac. Praesent ac dolor a sapien scelerisque iaculis. Sed urna mi, facilisis non laoreet a, commodo eget tortor.

        				</p>
<br/>
<br/>

        			</div>
        		</center>
        	</div>
        </div>
{% endblock %}